* {
    box-sizing: border-box;
}

a:hover {
    text-decoration: none;
}

body {
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: hsl(233, 8%, 62%);
}

.container {
    padding: 0;
}

.header {
    background-color: #fff;
}

.nav-item {
    padding-bottom: 4px;
}

.nav-item:hover {
    position: relative;
    background: linear-gradient(239deg, rgba(43, 183, 218, 1) 0%, rgba(49, 211, 92, 1) 96%);
    padding-bottom: 4px;
}

.nav-item a {
    color: hsl(233, 8%, 62%);
    font-size: 0.85rem;
    padding-top: 25px;
    padding-bottom: 25px;
    background: #fff;
}

.nav-item a:hover {
    color: #000;
}

.btn-request {
    display: inline-block;
    background: rgb(43, 183, 218);
    background: linear-gradient(239deg, rgba(43, 183, 218, 1) 0%, rgba(49, 211, 92, 1) 96%);
    padding: 10px 34px;
    color: #fff;
    border-radius: 55px;
    font-size: 0.9rem;
}

.btn-request:hover {
    color: #fff;
    background: linear-gradient(239deg, rgba(43, 183, 218, 0.8) 0%, rgba(49, 211, 92, 0.8) 96%);
}

.banner {
    overflow: hidden;
    position: relative;
}

.banner::before {
    position: absolute;
    content: "";
    background-image: url(../images/bg-intro-desktop.svg);
    width: 744px;
    height: 913px;
    right: -100px;
    top: -185px;
}

.banner-wrapper {
    position: relative;
}

.banner-wrapper::before {
    position: absolute;
    content: "";
    background-image: url(../images/image-mockups.png);
    width: 744px;
    height: 913px;
    right: -100px;
    top: 0;
    z-index: 10;
}

.banner-content {
    max-width: 450px;
    padding: 247px 0;
}

.banner-content__title {
    font-size: 3.3rem;
    padding-bottom: 15px;
    color: #3a3958;
}

.banner-content__text {
    margin-bottom: 37px;
}

.about {
    padding: 110px 0;
    background-color: #f4f5f7;
}

.about-top {
    max-width: 645px;
}

.about-top__title {
    color: #3a3958;
    font-size: 2.5rem;
    margin-bottom: 25px;
}

.about-top__text {
    margin-bottom: 70px;
}

.about-item__icon {
    margin-bottom: 40px;
}

.about-item__title {
    font-size: 1.5rem;
    color: #3a3958;
    margin-bottom: 20px;
}

.about-item__text {
    font-size: 1rem;
    line-height: 1.7rem;
}

.col-3 {
    padding: 0 11px;
}

.footer {
    background-color: #2d314e;
    padding: 45px 0;
}

.footer__links-row {
    display: flex;
    min-width: 290px;
    justify-content: space-between;
}

.footer__links-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__link {
    color: hsl(0, 0%, 98%);
    font-size: 0.9rem;
}

.footer__link:hover {
    color: #4dae9a;
}

.footer-inner {
    display: flex;
    justify-content: space-between;
}

.footer-left {
    display: flex;
}

.footer-left__logo {
    margin-bottom: 45px;
}

.footer-left__icons {
    display: flex;
}

.footer-left__inner {
    margin-right: 120px;
}

.footer-left__icon {
    margin-right: 12px;
}

.footer-left__icon:hover svg path {
    fill: #33c88e;
    cursor: pointer;
}

.footer-right {
    text-align: right;
}

.footer-right-btn {
    margin-bottom: 30px;
}

.footer-right__rights {
    font-size: 0.9rem;
}

.articles {
    padding: 90px 0px;
    background-color: #fafafa;
}

.articles .col-md-3 {
    border-color: transparent;
    padding: 0;
}

.articles-title {
    font-size: 2.5rem;
    color: #3a3958;
    margin-bottom: 40px;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.article-col {
    max-width: 258px;
    margin-right: 30px;
    margin-bottom: 20px;
}

.article-col:nth-child(4n) {
    margin-right: 0;
}

.article-img {
    height: 200px;
}

.article-title {
    font-size: 1rem;
    color: #3a3958;
    line-height: 1.3rem;
    display: inline-block;
}

.article-suptitle {
    font-size: 0.6rem;
    color: #d5d4d9;
    padding-top: 14px;
}

.article-text {
    font-size: 0.8rem;
}

.article-form {
    margin-top: 100px;
}

.article h1 {
    padding-top: 10%;
    text-align: center;
    font-size: 4rem;
    color: #2d314e;
}

.article h5 {
    text-align: right;
    margin-bottom: 5%;
}

.article article {
    color: #2d314e;
}